#clockdiv{
	font-family: sans-serif;
	display: inline-block;
  position: fixed;
  margin-left: 750px;
  float: right;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
  width: 90px;
  height: 60px;
	padding: 10px;
	border-radius: 3px;
	background: #DF013A;
	display: inline-block;
}

#clockdiv div > span{
  width: 70px;
  height: 40px;
	padding-bottom: 10px;
	border-radius: 5px;
	background: #DF7401;
	display: inline-block;
}
