@font-face {
 font-family: "Arcade";
 src: url("../ARCADE.TTF");
 }

#board {
  height: 550px;
  width: 1100px;
  position: relative;
  margin-top: 5px;
  background-image: url("../img/burnedcity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player {
  position: absolute;
  height: 150px;
  width: 100px;
  /*background-image: url("img/Hippie.png");*/
  background-image: url("../img/hippiher.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.evil {
  position: absolute;
  height: 120px;
  width: 100px;
  background-image: url(../img/trump.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bullet {
  width: 80px;
  height: 80px;
  position: absolute;
  /*background-image: url(img/Water_Melon_Explode/watermelon_0.png);*/
/*background-size: 400%;*/
  /*background-image: url(img/lil_chick.svg);*/
background-image: url(../img/maria.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.container {
  display: flex;
  flex-direction: column;

}

.containerTop{
  display: flex;
  flex-direction: row;
justify-content: space-between;
align-items: flex-end;
width: 1100px;
}

.containerTopLeft{
display: flex;
flex-direction: column;
justify-content: flex-start;

}

.btn-primary{
  width: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: monospace;
  background-color: #FF8000;
}

.arcade{
  font-family: Arcade;
  color: #DF013A;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.arcadeS{
  font-family: Arcade;
  color: #FF8000;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

.swal{
  title: "Sweet!",
  text: "Here's a custom image.",
  imageUrl: 'thumbs-up.jpg'
};
